<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
    <%- include ("./partials/nav.ejs")%>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias magni aliquid iste laboriosam quasi? Accusantium assumenda, impedit, obcaecati cum exercitationem natus doloremque consequuntur in, aperiam eligendi quis debitis tempore libero?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita reiciendis animi corporis accusamus minima nisi fugit, id a iusto eligendi adipisci. Et numquam sit, modi a tempore ullam incidunt eveniet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptates quas praesentium ipsum voluptatem adipisci ratione aliquam in voluptate rem pariatur nesciunt minus molestiae, natus sequi eum quisquam nisi quo!
        </p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>